.container-sm{
    
            width: 710px;
            height: 900px;
            margin-left: 15%;
            border: 1px groove;
            box-shadow: rgb(189, 185, 185);    
}

.form-label:after {
    content: "*";
    color: red;
}

.star-rating  {
    color:#EEAC82 !important; 
    font-size: 35px;
}

.star-rating {
    display: flex;

}

.star-rating input[type=radio] {
    display: none;
}

#flexRadioDefault1{
    border-color: black;
}
.veryunlikel{
    margin-right: 3%;
}